DATABASE_URL=
JWT_SECRET=
JWT_EXPIRATION=24h
HOST=127.0.0.1
PORT=8080
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Blockchain Configuration
RPC_URL=http://localhost:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CHAIN_ID=31337

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Twitter OAuth
TWITTER_CLIENT_ID=GMEUT8OgUSIkc9hKpbvRFdRuN
TWITTER_CLIENT_SECRET=mCryPv1ZfpWWx5Vx2JzVfIm7MZGJdbAJEFj5955Ce2o8MoWxKM
TWITTER_REDIRECT_URI=http://localhost:3000/auth/twitter/callback

# Instagram OAuth
INSTAGRAM_CLIENT_ID=your_instagram_client_id
INSTAGRAM_CLIENT_SECRET=your_instagram_client_secret
INSTAGRAM_REDIRECT_URI=http://localhost:3000/auth/instagram/callback

# Facebook OAuth
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
FACEBOOK_REDIRECT_URI=http://localhost:3000/auth/facebook/callback

# Verification
VERIFICATION_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 # Private key for signing

# chmod +x vertix-backend/scripts/setup_local.sh
# cd vertix-backend && rustc scripts/extract_contracts.rs -o scripts/extract_contracts && ./scripts/extract_contracts